<nav>
    <a class="button" routerLink="welcome" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        Home
    </a> |
    <a class="button" routerLink="test" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        Tests
    </a> |
    <a class="button" routerLink="heroes-list" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        Heroes
    </a>|
    <a class="button" routerLink="login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        Login
    </a>|
    <a class="button" routerLink="register" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        Register
    </a>|
    <p-button label="Sign out" (onClick) = "logOut()"></p-button>
    
</nav>